#about {
  display: flex;
  width: 100vw;
  padding: 2rem;
  background-color: #b4b4b4;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about * {
  z-index: 1;
}

.paragraph-container {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}

.paragraph-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #000;
  filter: blur(12px);
}
.title-description {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.text-description {
  color: #fafafa;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  padding: 2rem;
  z-index: 1;
}

.text-description:first-child {
  border-right: 1px solid;
}

.skills-container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  position: relative;
}

.skills-container li {
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  color: #fafafa;
  transition: 0.4s;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
}

.skills-container li div {
  text-align: center;
}

.skills-container .Sass {
  height: 28vh;
  font-size: 1.1rem;
}

.skills-container .Tailwind {
  height: 32vh;
}

.skills-container .Sass div {
  scale: 1.1;
}

.skills-container .GitHub {
  height: 36vh;
}

.skills-container .GitHub div:hover {
  color: #000;
}

.skills-container .GitHub div {
  scale: 1.2;
}

.skills-container .React {
  height: 40vh;
}

.skills-container .React div {
  scale: 1.8;
}

.skills-container .JavaScript {
  height: 44vh;
}

.skills-container .JavaScript div {
  scale: 2;
}

.skills-container li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  opacity: 0.8;
  filter: blur(5px);
  background-color: #000;
  z-index: -1;
  transition: 0.5s;
}

.skills-container li:hover {
  color: #000;
}

.skills-container li:hover:before {
  background-color: #fafafa;
  opacity: 0.5;
}

@media (max-width: 450px) {
  #about {
    overflow: auto;
    padding: 0.5rem;
    justify-content: space-between;
    flex-direction: column;
  }
  .paragraph-container {
    flex-direction: column;
  }

  .text-description {
    width: 100%;
    text-align: justify;
  }

  .text-description:first-child {
    border-right: none;
  }

  .skills-container {
    gap: 2rem;
    flex-wrap: wrap;
  }

  .skills-container li {
    min-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
