* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

section {
  min-height: 100vh;
  overflow: hidden;
  max-width: 100%;
}

section {
  width: 90vw;
  height: 100vh;
}
