.btn {
  z-index: 2;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  justify-content: center;
  align-items: center;
}

.project {
  cursor: pointer;
  width: 22%;
  position: relative;
  text-align: center;
  padding: 1rem;
  z-index: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  color: #fafafa;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
}

.title,
.subtitle {
  color: #fafafa;
}

.project:hover::before {
  background-color: #fafafa;
}

.project:hover p,
.project:hover h4 {
  transition: 0.5s;
  display: block;
  color: #000;
}

.project::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  filter: blur(10px);
  z-index: -1;
  transition: 0.5s;
}

.project img {
  height: 120px;
  border-radius: 0.5rem;
}

.link-btn {
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
  background-color: #000;
  color: #fafafa;
  border-radius: 0.6rem;
  border: 1px solid;
}

/* @media (max-width: 950px) {
  #projects {
    flex-direction: column;
  }

  .project {
    width: 40%;
  }
} */
@media (max-width: 450px) {
  .container {
    flex-direction: column;
    overflow: scroll;
  }

  #projects {
    justify-content: space-between;
    flex-direction: column;
    overflow: scroll;
  }

  .projects-container {
    flex-direction: column;
    display: flex;
  }

  .project {
    width: 100%;
  }

  .project img {
    width: 100%;
  }

  .imc,
  .picpay {
    display: flex;
  }

  .imc img,
  .picpay img {
    height: 250px;
  }
}
